<!DOCTYPE html>

<html>
    <head>
        <title>
            Tutorial
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>

    <body>
        <h1 class = "text-center">CV Projects</h1>

        <div style="text-align:center">

            <a href = "mask"><input type="submit" name="submit_button" value="Mask or No Mask"></a>

            <!-- <button type="button" >Mask or No Mask</button> -->
        
        </div>

        
    </body>
</html>